.widgets {
  flex: 0.25;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: rgb(22, 24, 28);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  background-color: rgb(22, 24, 28);
  border: none;
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetsContainer {
  padding-top: 10px;
  padding-left: 30px;
}

.subscribePremium {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: rgb(22, 24, 28);
  padding: 12px 16px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  gap: 10px;
}

.subscribePremium > h3 {
  font-size: 20px !important;
}

.subscribePremium > p {
  font-size: 15px !important;
}

.subscribe__button {
  font-family: "Croissant One", cursive !important;
  text-transform: inherit !important;
  background-color: rgb(29, 155, 240) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  border-radius: 30px !important;
  width: 100px !important;
  height: 30px !important;
}
